<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title><%= @title %></title>
  <link rel = "stylesheet" href = /style.css></link>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/films">Films</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
  </html>
